@import "_header";

body {
	font-size: 20px;
	div {
		font-size: 30px;
	}
}
.block {
	&__item {
		display: flex;
		align-content: space-between;
	}
}
.kak-nado {
	font-size: 20px;
}

.blo3545 {
	margin: 35px;
}
